textarea {
    min-height: 400px;
}

.icon{
    width: 20px;
    margin-right: 10px;
}

.email{
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-bottom: 0;
    justify-content: space-between;
}

.email:last-child{
    border-bottom: 1px solid #000;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
