{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>
    <nav>
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    </nav>
    <div id="emails-view">
        
    </div>
    
    {% comment %} email popup {% endcomment %}
    <div id="email-show" class="email-show email-id" >
        <div id="email-show-wraper"class="email-show-wraper flex-column">
            <h2 data-email="subject" class="data"></h2>
            <div class="flex-space-between">
                <div class="flex-column">
                    <div>From: <span data-email="sender" class="data"></span></div>
                    <div>  To: <span data-email="recipients" class="data"></span></div>
                </div>
                <div data-email="timestamp" class="data" ></div>
            </div>
            <div data-email="body" class="flex-grow data email-body"></div>
            <div id="email-buttons" class="flex email-footer">
            </div>
        </div>
    </div>       
            
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" id="compose-user" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
                <div class="invalid-feedback" id="invalid-recipients">Podany adres nie istnieje</div>
                <div class="invalid-feedback" id="empty-recipients">Musisz podać adres</div>
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="compose-submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}